body.zone_anim {
    background-image: url(/img/patterns/wood_contacts.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;

    main {
        section {
            &.pdf-zone {
                .pdf-box {
                    margin-bottom: 30px;

                    i.pdf-file {
                        margin-bottom: 15px;
                        color: $light-blue;
                        cursor: pointer;

                        &:hover, &.focus {
                            &:before {
                                // .fa-download:before{content}
                                content: "";
                            }
                        }

                        &:before {
                            // .fa-file-pdf-o:before{content}
                            content:"";
                            font-size: 55px;
                        }
                    }//.pdf-file

                    p {
                        min-height: 38px;
                        max-height: 38px;
                        overflow: hidden;
                    }
                }//.pdf-box
            }//.pdf-zone
            
            &.inscriptions {
                padding-bottom: 35px;

                .inscription {
                    margin-bottom: 30px;
                }
            }//.inscriptions

            &.fileupload-zone {
                button {
                    margin-right: 7px;

                    &:hover {
                        border-color: $white !important;
                    }

                    &.delete {
                        &:hover, &:focus {
                            background-color: $red;
                            border-color: $red !important;
                            color: $white !important;
                        }
                    }

                    &.list-btn {
                        margin-top: 5px;
                    }
                }

                .input-zone {
                    margin-bottom: 20px;

                    .first-input {
                        margin-bottom: 15px;
                    }
                }
                
                .fileupload-buttonbar {
                    .main-action-zone {
                        margin-bottom: 15px;
                    }

                    .fileupload-progress {
                        height: 46px;
                        margin-bottom: 15px;

                        .progress {
                            margin-bottom: 0;
                            margin-top: 13px;
                        }
                    }
                }//.fileupload-buttonbar

                table {
                    tbody.files {
                        tr {
                            &.template-download, &.template-upload {
                                background-color: transparent;

                                .preview {
                                    img {
                                        max-width: 80px;
                                    }
                                }

                                p.name {
                                    a {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }//.tbody.files
                }//table
            }//.fileupload-zone
        }//section
    }//main

    aside#inscription-modal {
        h3 {
            font-size: 18px;
            color: $red;
            margin: 0;
            line-height: 30px;

            e {
                font-size: 13px;
                color: $black;
            }
        }
    }//aside
}//body.zone_anim