.header_castors {
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/castors/header_castors.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

/* Souvenirs Castors */

#velo {
	background: url(../img/castors/velo/velo2.jpg) center center;
	width: 360px;
	height: 240px;
}

#gand {
	background: url(../img/castors/we_gand/img15.jpg) center center;
	width: 360px;
	height: 240px;
}

#lasagnes {
	background: url(../img/castors/lasagnes/img2.jpg) center center;
	width: 360px;
	height: 240px;
}

#kluis {
	background: url(../img/castors/we_kluis/img23.jpg) center center;
	width: 360px;
	height: 240px;
}

#firstRN13 {
	background: url(../img/castors/first_reunion/img13.jpg) center center;
	width: 360px;
	height: 240px;
}

#paques13 {
	background: url(../img/castors/paques/img21.jpg) center center;
	width: 360px;
	height: 240px;
}

#rs {
	background: url(../img/castors/reunion_spec/img24.jpg) center center;
	width: 360px;
	height: 240px;
}

#langdorp {
	background: url(../img/castors/we_langdorp/img11.jpg) center center;
	width: 360px;
	height: 240px;
}

#STnic14 {
	background: url(../img/castors/sint_nic14.jpg) center center;
	width: 360px;
	height: 240px;
}