body.faq {
    background-image: url(/img/patterns/wood_contacts.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;

    main {
        section {
            &.questions {
                section.card {
                    margin-bottom: 20px;

                    header {
                        text-align: center;
                    }
                }
            }//.questions

            &.formulaire {
                section.card {
                    section {
                        input, textarea {
                            display: block;
                            width: 100%;
                        }
                    }

                    footer {
                        .form-group {
                            margin: 0;

                            button.right {
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }//.formulaire
        }//section
    }//main
}//body.faq