body.index {
    header {
        background: url(../img/header.jpg) no-repeat center center fixed;
    }

    main {
        section {}
    }
}

/* Map */

#gmap3 {
  color: rgb(33,87,161);
}

#gmap3 hr {
  border-color: rgb(33,87,161);
}

.map {
  height: 500px;
}

.gmap3{
  width: 100%;
  height:50%; 
}