body.index {
    header {
        &.header {
            padding-top: 0;
            background-image: url(/img/header.jpg);
            
            .images {
                margin-bottom: 25px;

                img {
                    max-height: 100px;
                    padding: 1%;
                    @include border-radius($radius-default);
                }
            }

            .title {
                padding-bottom: 100px;

                h1 {
                    margin: 0;
                    font-size: 4.5em;
                    font-weight: 700;
                }
            }

            .btn-intro {
                background-color: $blue;

                &:hover, &:focus {
                    background-color: $white;
                    color: $blue;
                }
            }
        }//.header
    }//header

    main {
        section {
            &.sections {
                article.section {
                    margin-bottom: 45px;
                    @include bp-medium {margin-bottom: 0}

                    &.last-1 { 
                        @include bp-small {margin-bottom: 0}
                    }

                    &.last {
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 15px;
                    }
                }//article.section
            }//.sections

            &.us {
                article {
                    img {
                        margin-right: 15px;
                    }
                }
            }

            &.callout {
                height: 100%;
                background: url(/img/fond.jpg) no-repeat center center fixed;
                @include background-size(cover);

                .callout-content {
                    display: table;
                    width: 100%;
                }
            }

            &.animateurs {
                article {
                    img {
                        width: 100%;
                    }
                }
            }

            &.map {
                height: inherit;
            }
        }//section
        .gmap3 {
            height: 50%;
            width: 100%;
            color: $blue;
        }
    }//main
}//.body-index