.header_pis {
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/pis/header_pis.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}