footer.footer {
    background-color: $red;
    padding: 45px 0;
    
    .border {
        border-top: $border-default $white;
        padding-top: 45px;

        p {
            color: $white;
            margin: 0;

            a {
                color: $white;
                text-decoration: underline;

                &:hover, &:focus {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}