// Template styles
body {
	height: 100%;
	width: 100%;
	background-image: url(/img/patterns/wood.jpg);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    	color: $white;

    h2 {
    	font-size: 30px;
    	padding-bottom: 20px;
    	border-bottom: 2px solid $white;
    	margin-bottom: 45px;
    	margin-top: 0;
    }

	header {
		&.header {
		    display: table;
		    height: 100%;
		    width: 100%;
		    color: white;
		    padding-top: 52px;
		    @include background-size(cover);

		    section {
		    	&.center {
				    display: table-cell;
				    vertical-align: middle;
				    text-align: center;
				}
	   		}
	    }
	}

	main {
		display: inline;
		padding-top: 52px;
		
		section {
			&.page-section {
				padding: 45px 0;

				&.call-out {
					padding: 0;
				}

				&.red {
					background-color: $red;

					.btn {
						&.outline {
							&:hover, &:focus {
								color: $red;
							}
						}
					}
				}

				&.blue {
					background-color: $blue;

					.btn {
						&.outline {
							&:hover, &:focus {
								color: $blue;
							}
						}
					}
				}
			}

			.container-fluid {
				max-width: 1200px;
			}
		}
	}
}

// Reset boostrap useless classes
.border {
	border: none;
}

// Global classes
.bg_white {
    background-color: rgba(255,255,255,0.8);
}

// Gallery includes
#ostende14 {
	background: url(/img/ostende_2014/img3.jpg) center center;
	width: 360px;
	height: 240px;
}

#nettinne {
	background: url(/img/we-nettine/we_nettine_little.jpg) center center;
	width: 360px;
	height: 240px;
}