// Template styles
html {
	height: 100%;
	overflow-x: hidden;
	
	body {
		height: 100%;
		width: 100%;
		background-image: url(/img/patterns/wood.jpg);
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    color: $white;

	    h1 ,
	    h2 ,
	    h3 ,
	    h4 ,
	    h5 ,
	    h6 {
			color: $white;
			text-decoration: none;

			&.border {
				margin-bottom: 20px;
				padding-bottom: 18px;
				border-bottom: $border-default;
				border-color: $white;
			}
			&.blue {
				color: $blue;
				border-color: $blue;
			}
			&.red {
				color: $red;
				border-color: $red;
			}
			&.black {
				color: $black;
				border-color: $black;
			}
	    }//hn

	    h1 {
	    	font-size: 3.5em;
	    }

	    h2 {
	    	font-size: 30px;
	    	padding-bottom: 20px;
	    	border-bottom: $border-default $white;
	    	margin-bottom: 45px;
	    	margin-top: 0;

			&.blue {border-color: $blue}
			&.red {border-color: $red}
			&.black {border-color: $black}
	    }//h2

	    a {
	    	text-decoration: underline;
	    	@include transition($transition-default);

	    	&:hover {text-decoration: none}

	    	&.white {color: $white}
	    	&.blue {color: $blue}
	    	&.red {color: $red}
			&.black {color: $black}
	    }//a

	    p {
	    	font-size: 14px;

	    	&.white {color: $white}
	    	&.blue {color: $blue}
	    	&.red {color: $red}
			&.black {color: $black}
	    }//p

		header {
			&.header {
			    display: table;
			    height: 100%;
			    width: 100%;
			    color: white;
			    padding-top: 52px;
			    background-attachment: fixed;
			    @include background-size(cover);

			    section {
			    	&.center {
					    display: table-cell;
					    vertical-align: middle;
					    text-align: center;
					}
		   		}
		    }//.header
		}//header

		main {
			display: inline;
			padding-top: 52px;
			
			section {
				&.page-section {
					padding: 45px 0;

					&.red {
						background-color: $red;

						.btn {
							&.outline {
								&:hover, &:focus {
									color: $red;
								}
							}
						}
					}

					&.blue {
						background-color: $blue;

						.btn {
							&.outline {
								&:hover, &:focus {
									color: $blue;
								}
							}
						}
					}
				}//.page-section

		        &.callout {
		            height: 100%;
		            background-image: url(/img/fond.jpg);
		            background-attachment: fixed;
		            @include background-size(cover);

					&.callout-min {
					    width: 100%;
					    height: 40%;
					    padding: 0;
					}

		            .callout-content {
		                display: table;
		                width: 100%;
					    height: 100%;
		            }
		        }//.callout

		        &.gallery {
		        	.gallery-item {
		        		min-height: 289px;

		        		.gallery-link {text-decoration: none}
		        		.gallery-infos {
		        			.gallery-picture {
		        				margin: 0 auto;
		        			}

			        		.gallery-title {
			        			width: 100%;
			        			overflow: hidden;
			        			white-space: nowrap;
			        			text-overflow: ellipsis;
							    padding: 10px 0 10px 0;
							    background-color: $transparent-blue;
							    @include transition($transition-default);

			        			&.active {
									margin-top: -39px;
			        			}
			        		}
		        		}
		        	}//.gallery-item
		        }//.gallery

	            &.staff {
	                header {
	                    h2 {
	                        margin: 0;
	                        color: $red;
	                        border-color: $red;
	                        padding: 20px 0;
	                    }
	                }

	                section.staff-container {
	                    section.animateur {
	                        padding: 0 5px;
	                        padding-top: 20px;
	                        @include display-flex;
	                        @include flex-wrap(wrap);

	                        &:last-child {
	                            padding-bottom: 20px;
	                        }

	                        aside.animateur-infos {
	                            img {
	                                margin-right: 20px;
	                            }

	                            address {
	                                h3.poste {
	                                    font-size: 14px;
	                                    font-weight: bold;
	                                    margin: 0;
	                                    line-height: 15px;
	                                }

	                                p.name {
	                                    margin-top: 10px;
	                                    margin-bottom: 0;
	                                }

	                                p.totem {
	                                    margin-bottom: 10px;
	                                    margin-top: 0;
	                                }

	                                p.phone {
	                                    i {
	                                        font-size: 25px;
	                                        position: relative;
	                                        top: 3px;
	                                        margin-right: 10px;
	                                    }
	                                }
	                            }//address
	                        }//aside.animateur-infos
							
							.col-md-8 {
								padding-left: 0;

		                        article {
		                            margin-top: 15px;

		                            @include bp-medium {
		                                margin-top: 0;
		                            }

		                            img {
		                                margin-right: 20px;
		                                float: left;

		                                @include bp-medium {
		                                    margin-right: 0;
		                                    margin-left: 15px;
		                                    float: right;
		                                }
		                            }
		                        }//article
	                        }
	                    }//section.animateur
	                }//section.staff-container

	                footer {
	                    p {
	                        display: inline-block;
	                        margin: 15px 0;
	                        
	                        i {
	                            font-size: 18px;
	                            position: relative;
	                            top: 1px;
	                            margin-right: 10px;
	                        }
	                    }
	                }//footer
	            }//.staff
			}//section
		}//main

		// Global classes
		.container-fluid {
			max-width: 1200px;
		}
		
		.bg_white {
		    background-color: rgba(255,255,255,0.8);
		}
	}//body
}//html

// Reset boostrap useless classes
.border {
	border: none;
}

// Gallery includes
#ostende14 {
	background: url(/img/ostende_2014/img3.jpg) center center;
	width: 360px;
	height: 240px;
}

#nettinne {
	background: url(/img/we-nettine/we_nettine_little.jpg) center center;
	width: 360px;
	height: 240px;
}