// Colors variables
$white: white;
$black: black;

$blue: #2157A1;
$light-blue: lighten(#2157A1, 5%);
$dark-blue: darken(#2157A1, 5%);

$red: #D11029;
$light-red: lighten(#D11029, 5%);
$dark-red: darken(#D11029, 5%);

// default effects
$transition-default: .2s;
$box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
$radius-default: 2px;

// Breakpoints
@mixin bp-small {
	@media (min-width: 768px) {
        @content;
    }
}
// Medium devices (desktops, 992px and up)
@mixin bp-medium {
    @media (min-width: 992px) {
        @content;
    }
}
// Large devices (large desktops, 1200px and up)
@mixin bp-large {
    @media (min-width: 1200px) {
        @content;
    }
}
// to delete
@mixin bp-navbar {
    @media (min-width: 980px) {
        @content;
    }
}

// Reverse breakpoints
$bp-xsmall: 767px;
$bp-small: 991px;
$bp-medium: 1199px;