// Reset inherit button border
button, .btn {
	border: none !important;
}

.btn {
	font-size: 16px;
	padding: 10px 20px;
	text-decoration: none;
	background: transparent;
	@include transition($transition-default);

	&.outline {
		color: $white;
		border-color: $white;
		border: $border-default !important;
		@include border-radius($radius-default);

		&:hover, &:focus {
			color: $blue;
			background-color: $white;
		}

		&.blue {
			color: $blue;
			border-color: $blue;

			&:hover, &:focus {
				color: $white;
				background-color: $blue;
			}
		}

		&.red {
			color: $red;
			border-color: $red;

			&:hover, &:focus {
				color: $white;
				background-color: $red;
			}
		}
	}//.outline

	&.ghost {
		color: $white;
		border-color: $white;
		border-bottom: $border-default !important;
		@include border-radius(0);

		&:hover, &:focus {border-color: transparent !important}

		&.blue {
			color: $blue;
			border-color: $blue;

			&:hover, &:focus {border-color: $blue !important}
		}

		&.red {
			color: $red;
			border-color: $red;

			&:hover, &:focus {border-color: $red !important}
		}
	}//.ghost
}//.btn