aside.modal {
	.modal-content {
		border: $border-default $light-blue;
		@include border-radius(2px);

		header {
			background-color: $light-blue;

			button.close {
				opacity: 1;

				i.fa-close {
					color: $white;
					font-size: 20px;
					@include transition($transition-default);

					&:hover, &:focus {
						color: $red;
					    font-size: 20px;
					    text-shadow: 0 1px 0 $red;
					}
				}
			}
		}//header

		section {
			padding: 45px 15px;
			padding-bottom: 35px;
			
			h5 {
				display: inline;
				color: $red;
			}

			p {
				display: inline-block;
				color: $black;
			}
		}//section

		footer {
			background-color: $light-blue;
		}//footer
	}
}